﻿body {
  font-family: Arial, Helvetica, sans-serif;
  color:#4D4F4A;
  text-shadow:0px 1px 1px #fff;
  font-size:11px;
  margin:0;
  /*background-color: yellow;*/
}
h1, h2, h3,
h4, h5, h6 {
	color: #333;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 {
	font-size: 4.3em;
	color: #41b7d8;
	margin-bottom:40px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	border-bottom: 1px solid #999;
	padding-bottom:10px;
	
}

h4 {
	font-size: 1.1em;
	border-bottom: 1px solid #999;
	padding-top:0;
	margin-top:0;
}

h5, h6 {
	font-size: 1.1em;
}

	h5 a:link, h5 a:visited, h5 a:active {
		padding: 0;
		text-decoration: none;
	}
table.main {
  border-spacing:0px;
  border-collapse:separate;
}
td.td-label {
	width: 90px;
  text-align: left;
  padding:5px;
}
td.td-break {
  font-size:11px;
  /*border-bottom: solid 1px #A6261D;*/
}
td.td-input {
  vertical-align:top;
  padding: 7px 2px 2px 2px;
}

html body form .RadInput .awesome-text-box, html body .riSingle .riTextBox[type="text"], .awesome-text-box,
html body .riSingle .riTextBox[type="text"],
html body .riSingle .riTextBox
{
    font-size:12px;
    padding: 3px;    
    margin: -4px 0 0 2px;
    border: 1px solid #ccc;
       
    /*Applying CSS 3radius*/    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;    
}
html body form .RadInput .awesome-text-box:hover, .awesome-text-box:hover
{
    border:1px solid #0069AA;
}

html body form .RadInput .hovered-text-box
{
    border:1px solid #0069AA;
}
html body form .RadInput .awesome-text-box:focus
{
    box-shadow:0 0 5px #0069AA;
}
.awesome-select, .awesome-select:hover, awesome-select:focus {
  padding: 0 3px 0 0;
  border: none;
  margin:0 0 0 0;

}
.redNose {
	display: none;
}


html body form span {
  padding:2px;
}

#RadAjaxPanel1 {
	width: 260px;
	margin: 0 auto;
}
#RadAjaxPanel1Header {
	background: url(../images/express_enquiry_header.gif) no-repeat left top;
	height: 84px;
}
#RadAjaxPanel1Panel {
	background: url(../images/express_bg.jpg) repeat-y left top;
}
#RadAjaxPanel1Footer{
	background: url(../images/express_bottom.jpg) no-repeat left bottom;
	height: 24px;
}
#btnSubmit {
	width: 100px;
	background: url(../images/button_send.jpg) no-repeat center top;
	text-indent: -9999em;
    line-height:3000;
	cursor:pointer;
	height: 25px;
	border: none;
	display: block;
}
#btnSubmit:hover {
	background: url(../images/button_send_over.jpg) no-repeat center top;
}
#rtbComments {
	margin: 0;
}