﻿/*Not related to example*/
body {font-family:Helvetica;line-height:1.8em;color:#777;text-shadow:0px 1px 1px #fff;}
#spacer{height:0;width:300px;border-top:solid 1px #ddd;border-bottom:solid 1px #fff;margin:5px 0;}
#testDiv{background:#f7f7f7;padding:20px;height:200px;}


input[type="submit"],
input[type="button"],
button {
	-moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #698820) );
	background: -moz-linear-gradient( center top, #9dce2c 5%, #698820 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#698820');
	background-color: #9dce2c;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #689324;
  
}

	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover {
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #698820), color-stop(1, #9dce2c) );
		background: -moz-linear-gradient( center top, #698820 5%, #9dce2c 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#698820', endColorstr='#9dce2c');
		background-color: #698820;
		cursor:pointer;
	}

	input[type="submit"]:active,
	input[type="button"]:active,
	button:active {
		position: relative;
		top: 1px;
	}

	input[type="submit"]:disabled,
	input[type="button"]:disabled,
	button:disabled {
	-moz-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #B9B5B9) );
	background: -moz-linear-gradient( center top, #e9e9e9 5%, #B9B5B9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#B9B5B9');
	background-color: #e9e9e9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #e9e9e9;
	display: inline-block;
	color: #999;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #B9B5B9;
		
	}

/*Styles related with example*/
html body form .RadInput .awesome-text-box, .awesome-text-box{
    font-size: 12px;
    padding: 5px;    
    border: 1px solid #ccc;
       
    /*Applying CSS 3radius*/    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
    
}
html body form .RadInput .awesome-text-box:hover, .awesome-text-box:hover
{
    border:1px solid orange;
}

html body form .RadInput .hovered-text-box
{
    border:1px solid orange;
}
html body form .RadInput .awesome-text-box:focus
{
    box-shadow:0 0 5px #FFFE00;
}

.awesome-select, .awesome-select:hover, awesome-select:focus {
  padding: 0;
  border: none;
  font-size: 12px;
  margin:0;
}

html body form span {
  padding:2px;
}