﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="EmailTest.aspx.cs" Inherits="WebApplicationForms.EmailTest" %>	

<form runat="server">
From: <asp:TextBox runat="server" ID="tbFrom" Width="400px">do-not-reply@hatpacks.com.au</asp:TextBox><br />
	To: <asp:TextBox runat="server" ID="tbTo" Width="400px"></asp:TextBox><br />
	Subject: <asp:TextBox runat="server" ID="tbSubject" Width="400px">test</asp:TextBox><br />
	Message:<asp:TextBox runat="server" id="tbMessage" TextMode="MultiLine" Height="300px">test</asp:TextBox>
	<asp:Button runat="server" Text="send" ID="btnSend" OnClick="btnSend_Click" />

	</form>

