﻿<%@ Page Language="C#" MasterPageFile="RadWindow.Master" AutoEventWireup="true" CodeBehind="SendWebApplicationFormEmailBM.aspx.cs" Inherits="WebApplicationForms.SendWebApplicationFormEmailBM" %>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
	<asp:Literal runat="server" ID="literal" />
	<div style="text-align:right;margin-right:20px"><input type="button" value="close" onclick="window.close()" /></div>
</asp:Content>